body{
    text-align: center;
    background-image: url(https://media4.giphy.com/media/3oz8xJJLjm73vn0N5S/200w.webp?cid=ecf05e47m42vwagh10ymd92m6wjswe6y8saj44l4u2hxdubu&rid=200w.webp);

}
h1{
    background-color: aqua;
}
